<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pet2u.pet2u">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EsqueceuSenhaActivity"></activity>
        <activity
            android:name=".PerfilPet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ListagemPetshopActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CadUsuario2Activity" />
        <activity android:name=".PerfilUsuarioActivity" />
        <activity android:name=".CadPetActivity" />
        <activity android:name=".CadPet2Activity" />
        <activity android:name=".CadUsuario1Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>